<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/originalstepper" routerLinkActive="active">Original Stepper</a></li>
    <li><a routerLink="/stepper" routerLinkActive="active">Stepper tests</a></li>
    <li><a routerLink="/laser" routerLinkActive="active">Laser Tests</a></li>
    <li><a routerLink="/libraries" routerLinkActive="active">Library Info.</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>