<div class="container bg-dark text-light" id="featured-3">
    <h2 class="pb-2 border-bottom">Administration</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col align-items-start">
        <h2>Reset WiFi Settings</h2>
        <p>Use this link to clear the Wifi settings from the device. After rebooting it will go into Access Point mode to reconfigure WiFi</p>
        <a href="/reset_wifi" class="btn btn-primary">
          Reset WiFi Settings          </a>
      </div>
      <div class="col align-items-start">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Reboot</h2>
        <p>Something going wrong? Just reboot and see if it does it again!</p>
        <a href="/reboot" class="btn btn-primary">
          Reboot
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Edit Files</h2>
        <p>You can upload and edit files - such as this HTML page</p>
        <a href="/edit" class="btn btn-primary">
          Edit Files
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>List Files</h2>
        <p>Returns a JSON list of all the files stored on the ESP device</p>
        <a href="/list?dir=/" class="btn btn-primary">
          List Files
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
        </div>
        <h2>Update</h2>
        <p>If you have a compiled BIN file to update the ESP8266, then use this function to upload your new firmware and it will perform the flash update and reboot.</p>
        <a href="/update" class="btn btn-primary">
          Update ESP
        </a>
      </div>
    </div>
  </div>
